@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #D3EBCD;
}

a{
    text-decoration: none;
    color: #635666;
}


.active {
    font-weight: bold;
  }