
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #D3EBCD;
}

a{
    text-decoration: none;
    color: #635666;
}


.active {
    font-weight: bold;
  }